@font-face {
    font-family: bodoni;
    font-weight: 500;
    src: url(assets/fonts/BauerBodoniStd-Bold.ttf);
}
@font-face {
    font-family: bodoni;
    font-weight: 400;
    src: url(assets/fonts/BauerBodoniStd-Roman.ttf);
}
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: bodoni;
    font-weight: 500;
}

body {
    background-color: #101010;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

nav ul {
    display: flex;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav li {
    list-style: none;
    margin: 0px 10px 0px 10px;
}

nav a{
    font-weight: 400;
    text-decoration: none;
    font-size: 22px;
}

main h2 {
    z-index: 1;
    position: relative;
    font-size: 40px;
    color: white; /* Ensure text is visible */
    text-align: center;
    top: 50vw;
    margin: 10px;

}
main .companyName {
    display: inline;
    font-size: 44px;
}

.heroImg {
    width: 90vw;
    height: 120vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(16, 16, 16, 1) 80%), url(assets/img/robs-HOrhCnQsxnQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 80%;
}

@media only screen and (min-width: 1000px) {
    main h2 {
      font-size: 3vw;
      top: 400px;
    }
    main .companyName {
        display: inline;
        font-size: 3.4vw;
    }
    .heroImg {
        width: 40%;
        height: 50%; /* Adjust height as needed */
    }
  }

main hr {
    margin: 0 5% 0 5%;
}




.founders {
    margin-top: 100px;
}

.founders h2 {
    font-size: 30px;
    text-align: center;
}

.people{
    font-size: 1.7vw;
    text-align: center;
    width: 20vw;
    height: 100%;
    margin: 30px;
    background-color: #3676F8;
    border-radius: 20px;
    padding: 10px;
    max-width: 405px;
}

.name {
    font-weight: 400;
    text-align: left;
    font-size: 30px;
    background-color: #3676F8;
}

.person {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

.description {
    font-size: 20px;
    text-align: left;
    font-weight: 400;
}

#niklas {
    background-image: url(assets/img/niklas_bombendorf.jpeg);
}

#edward {
    background-image: url(assets/img/edward_li.jpeg);
}

@media only screen and (min-width: 1000px) {
    .founders h2 {
        font-size: 1.7vw;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .people {
        width: 100%;
    }
}

.cw1 {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: top;
}

@media only screen and (max-width: 540px) {
    .cw1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .people {
        margin: 10px 0 10px 0;
    }
    
}